services:
  wled-media-engine:
    container_name: wled-media-engine
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./app:/app/app:cached
    restart: unless-stopped
